# core
numpy
scipy
pandas
numba
matplotlib
seaborn
statsmodels
Jinja2

# used in some scripts (e.g., logistic regression)
scikit-learn
joblib

# optional: control thread pools programmatically
threadpoolctl
